* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --background-color: #e5e5fd;
  --heading-color: #000;
  --text-color: #333;
  --link-color: #0000ff;
  --border: 16px solid #1d1e4c;
  --border-img: 1px solid #1d1e4c;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3 {
  font-weight: 500;
  color: var(--heading-color);
}
h1 {
  font-size: 7.2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 2.4rem;
}
p,
span,
li,
a {
  color: var(--text-color);
  font-size: 1.2rem;
  /* line-height: 2.2rem; */
  text-align: justify;
}
span {
  color: var(--heading-color);
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
ul {
  padding: 2.4rem 0;
}
.container {
  background-color: var(--background-color);
  border: var(--border);
  min-height: 100vh;
  padding: 3.6rem 5%;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;

  & figure {
    width: 34rem;
    height: 40rem;
    border-radius: 17rem;
    -webkit-border-radius: 17rem;
    -moz-border-radius: 17rem;
    -ms-border-radius: 17rem;
    -o-border-radius: 17rem;
    border: var(--border-img);

    & img {
      width: 100%;
      height: 100%;
      border-radius: 17rem;
      -webkit-border-radius: 17rem;
      -moz-border-radius: 17rem;
      -ms-border-radius: 17rem;
      -o-border-radius: 17rem;
    }
  }

  & .title {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & h3 {
      align-self: self-end;
    }
  }
}
.history {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  & p:last-child {
    margin: -1.2rem 0 0 0;
  }
}
footer {
  display: flex;
  justify-content: end;
}

@media (min-width: 988px) {
  html {
    font-size: 45%;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  h1 {
    line-height: 2.2rem;
    font-size: 6.4rem;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 62.5%;
  }
  p,
  a,
  li,
  span {
    font-size: 2.4rem;
  }
}
