* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --background-color: #cfc4b9;
  --secondary-color: #ffe4c4;
  --heading-color: #4d2b08;
  --text-color: #085247;
  --border-color: #e0954a1a;
}
html {
  font-size: clamp(45%, 5vw + 1%, 62.5%);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.container {
  width: 90%;
  margin: 0 auto;
}
.application {
  width: 85%;
  margin: 3.4rem auto;
  padding: 2.4rem;
  background-color: var(--secondary-color);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0.8rem var(--heading-color);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  & h1 {
    text-align: center;
    font-size: clamp(3.6rem, 3vw + 1%, 6.4rem);

    & span {
      font-size: clamp(1.8rem, 1vw + 1%, 2.4rem);
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
fieldset {
  border: none;
}
label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: clamp(1.2rem, 2vw + 1%, 2rem);
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
datalist,
select,
option,
textarea {
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  outline-style: none;

  &:focus {
    border: 1px solid var(--heading-color);
  }
}
.form-data {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(20rem, 32vw, 44rem), 1fr)
  );
  gap: 1.2rem;
}
.fullWidth {
  grid-column: 1/ -1;
}
.radio {
  display: flex;
  align-items: center;
  gap: clamp(1.2rem, 2vw, 7.2rem);

  & .gender {
    display: flex;
    align-items: center;
    gap: 1rem;

    & label {
      font-size: clamp(1.2rem, 2vw + 1%, 1.6rem);
    }
  }
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.form-btn {
  display: flex;
  justify-content: end;

  & button {
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    outline: none;
    border: 0.1rem solid var(--heading-color);
    background-color: var(--border-color);
    color: var(--heading-color);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    flex: 0 0 0;

    &:hover {
      background-color: var(--heading-color);
      color: var(--secondary-color);
      border: 0.1rem solid var(--background-color);
      cursor: pointer;
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
    }
  }
}
